html{
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*{
    box-sizing: border-box;
}
.page{
    width: 100%;
    height: 100%;
}
.page.__product{
    position: relative;
    min-width: 1440px;
}
.page.__product .__roboto_light{
    font-family: Roboto, sans-serif;
    font-weight: 300;
}
.page.__product .__book_italic{
    font-family: Book-Antiqua-Italic, sans-serif;
    font-weight: 300;
}
.page.__product .__lato_italic{
    font-family: Lato-LightItalic, sans-serif;
    font-weight: 300;
}


.page__layout{
    width: 100%;
}
.page__layout.__heading{
    padding: 5px 0;
    text-align: center;
}
.page__layout.__navigation{
    border-bottom: 1px solid #e1e2e3;
}
.page__layout.__breadcrumbs{
    padding: 25px 0;
}
.page__layout.__content{
    padding: 0 22px;
}
.page__layout.__footer{
    margin-top: 50px;
    background: #f4f3f3;
}
.page__row{
    display: inline-block;
}
.page__row.__logo{
    width: 150px;
    height: 40px;
}
.page__row.__logo .logo__icon{
    display: block;
    width: 100%;
    height: 100%;
}

.page__row.__menu{
    position: relative;
    width: 65%;
    top: 2px;
}
.page__row.__menu a{
    font-size: 14px;
    line-height: 1;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}
.page__row.__menu a.menu__link{
    display: inline-block;
    vertical-align: middle;
    padding: 15px 0;
    margin-right: 50px;
    margin-left: 15px;
}
.page__row.__menu a.menu__link.__active{
    border-bottom: 2px solid #000000;
}
.page__row.__menu a.menu__link.__newyear{
    padding: 0;
}

.page__row.__personal{
    width: 33.3333%;
    text-align: right;
}
.page__row.__personal .personal__block{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 0 20px;
}
.page__row.__personal .personal__block.__search{
    padding: 0;
}
.page__row.__personal .personal__block:empty{
    display: none;
}
.page__row.__personal .personal__block:before{
    content: '';
    position: absolute;
    right: 0;
    top: 5px;
    width: 1px;
    height: 10px;
    background: #ccc;
}
.page__row.__personal .personal__block.__no_border:before{
    display: none;
}
.page__row.__personal .personal__block span.cart__icon{
    display: block;
    width: 25px;
    height: 20px;
    background: url('../img/template/icons/cart__icon.png') no-repeat;
}
.page__row.__personal .personal__block span.like__icon{
    display: block;
    width: 25px;
    height: 20px;
    background: url('../img/template/icons/like__icon.png') no-repeat;
}
.page__row.__personal .personal__block span.region__text{
    font-size: 13px;
    line-height: 20px;
}
.page__row.__personal .personal__block span.region__icon{
    display: block;
    position: absolute;
    width: 30px;
    height: 20px;
    top: -25px;
    left: 50%;
    margin-left: -15px;
    background: url('../img/template/icons/region__icon.png') no-repeat;
}
.page__row.__personal .personal__block span.login__text{
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
}
.page__row.__personal .personal__block span.search__icon{
    position: relative;
    display: block;
    bottom: 2px;
    width: 25px;
    height: 25px;
    background: url('../img/template/icons/search__icon.png') no-repeat;
}

.page__row.__crumbs{
    padding: 0 22px;
}

.page__row.__crumbs .crumbs__link{
    font-size: 13px;
    text-decoration: none;
    color: #939597;
}
.page__row.__crumbs .crumbs__link.__back{
    margin-right: 13px;
    text-transform: uppercase;
}
.page__row.__crumbs .crumbs__link.__back:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 13px;
    margin-right: 7px;
    background: url('../img/template/icons/arrow__icon.png') no-repeat;
}
.page__row.__crumbs .crumbs__divider{    
    padding: 0 14px;
    font-size: 13px;
    color: #939597;
}
.page__row.__crumbs .crumbs__link:hover{
    color: #000000;
}



.page__row.__content_wide{
    width: 870px;
    vertical-align: top;
}
.page__row.__content_narrow{
    width: 555px;
    vertical-align: top;
    text-align: right;
}


.product_photo__block{
    display: inline-block;
    width: 100%;
}
.product_photo__block .photo__box{
    display: inline-block;
    vertical-align: top;
    margin: 0 22px 22px 0;
}

.product_info__block{
    display: inline-block;
    width: 100%;
}
.product_info__block .info__accord{
    border-top: 1px solid #d2d1d1;
}
.product_info__block .info__accord:last-child{
    border-bottom: 1px solid #d2d1d1;
}
.product_info__block .info__accord .__title{
    position: relative;
    padding: 15px 40px;
    cursor: pointer;
}
.product_info__block .info__accord .__title:after{
    content: '';
    display: block;
    position: absolute;
    width: 25px;
    height: 15px;
    top: 20px;
    right: 40px;
    background: url('../img/template/icons/arrow_info__icon.png') no-repeat;
}
.product_info__block .info__accord.__open .__title:after{
    transform: rotate(180deg);
}
.product_info__block .info__accord .__title p{
    color: #6b6a6a;
    font-size: 15px;
    line-height: 25px;
    text-transform: uppercase;
}
.product_info__block .info__accord .__more{
    display: none;
    width: 90%;
    padding: 10px 40px;
}
.product_info__block .info__accord.__open .__more{
    display: block;
}
.product_info__block .info__accord .__more p{
    color: #6b6a6a;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 10px;
}
.product_info__block .info__accord .__more .more__row{
    display: table-cell;
    vertical-align: top;
}
.product_info__block .info__accord .__more .more__row.row__1{
    width: 25%;
}
.product_info__block .info__accord .__more .more__row.row__2{
    width: 50%;
}
.product_info__block .info__accord .__more .more__row.row__3{
    width: 75%;
}
.product_info__block .info__accord .__more .more__row.row__4{
    width: 100%;
}
.product_info__block .info__accord .__more ul{
    padding: 10px 0 30px;
}
.product_info__block .info__accord .__more ul span{
    display: inline-block;
    padding: 5px 0;
    color: #6b6a6a;
    font-size: 15px;
    line-height: 22px;
}
.product_info__block .info__accord .__more ul li{
    position: relative;
    padding: 0 0 0 15px;
    color: #6b6a6a;
    font-size: 15px;
    line-height: 22px;
}
.product_info__block .info__accord .__more ul li:before{
    content: '';
    display: block;
    position: absolute;
    width: 9px;
    height: 9px;
    top: 5px;
    left: 0;    
    background: url('../img/template/icons/list_type__icon.png') no-repeat;
}
.product_info__block .info__accord .__more .more__ralated{
    
}
.product_info__block .info__accord .__more .more__ralated .ralated__title{
    display: inline-block;
    vertical-align: top;
}
.product_info__block .info__accord .__more .more__ralated .related__variant{
    display: inline-block;
    vertical-align: top;
}
.product_info__block .info__accord .__more .more__ralated .related__variant p.__preview{
    display: inline;
    margin: 0 5px;
    border-bottom: 1px dotted #6b6a6a;
    cursor: pointer;
}
.product_info__block .info__accord .__more .more__ralated .related__variant p.__preview:hover{
    border-bottom: none;
}


.product_cart__block{
    display: inline-block;
    width: 530px;
}
.product_cart__block .product__collection{
    text-align: center;
}
.product_cart__block .product__collection a{
    padding: 2px;
    color: #000000;
    font-size: 12px;
    line-height: 20px;
    text-decoration: none;
    border-top: 1px solid #c6c8ca;
    border-bottom: 1px solid #c6c8ca;
}
.product_cart__block .product__title{
    padding: 10px 0 20px;
    text-align: center;
}
.product_cart__block .product__title p{
    font-size: 18px;
    line-height: 24px;
}
.product_cart__block .product__price{
    display: table;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #f6f5f5;
}
.product_cart__block .product__price .__price_line{
    float: left;
}
.product_cart__block .product__price .__price_line p{
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    padding-right: 10px;
}
.product_cart__block .product__price .__price_line p.actual__price{
    color: #d0011b;
}
.product_cart__block .product__price .__price_line p.old__price{
    color: #c6c8ca;
    text-decoration: line-through;
}
.product_cart__block .product__price .__code_line{
    float: right;
}
.product_cart__block .product__price .__code_line p.code{
    color: #a5a1a2;
    font-size: 14px;
    line-height: 18px;
}
.product_cart__block .product__choose{
    text-align: center;
}
.product_cart__block .product__choose .choose__info{
    padding: 15px 0;
    border-bottom: 1px solid #f6f5f5;
}
.product_cart__block .product__choose .choose__info p{
    display: inline;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
}
.product_cart__block .product__choose .choose__info p.__name{
    color: #939597;
}
.product_cart__block .product__choose .choose__info .choose__detail{
    padding: 10px 0;
}
.product_cart__block .product__choose .choose__info .choose__detail .type__view{
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
    cursor: pointer;
}
.product_cart__block .product__choose .choose__info .choose__detail .type__view.__active{
    padding: 3px;
    border: 1px solid #000000;
}


.product_cart__block .product__size{
    text-align: center;
}
.product_cart__block .product__size .size__info{
    padding: 15px 0;
}
.product_cart__block .product__size .size__info p{
    display: inline;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
}
.product_cart__block .product__size .size__info p.__name{
    color: #939597;
}
.product_cart__block .product__size .size__info .choose__detail{
    padding: 10px 0;
}
.product_cart__block .product__size .size__info .size__detail{
    display: inline-block;
    vertical-align: top;    
}
.product_cart__block .product__size .size__info .size__detail .size__view{
    width: 75px;
    padding: 5px 0;
    margin: 10px 10px 5px;
    border: 1px solid #000000;
    cursor: pointer;
}
.product_cart__block .product__size .size__info .size__detail .size__view p{
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}
.product_cart__block .product__size .size__info .size__detail .size__view.__active{
    background: #000000;
}
.product_cart__block .product__size .size__info .size__detail .size__view.__active p{
    color: #ffffff;
}
.product_cart__block .product__size .size__info .size__detail .size__view.__reserve p{
    color: #fdc736;
}
.product_cart__block .product__size .size__info .size__detail .size__view.__sold p{
    color: #c6c8ca;
}
.product_cart__block .product__size .size__info .size__detail .size__helper{
    width: 100%;
    text-align: center;
}
.product_cart__block .product__size .size__info .size__detail .size__helper:after{
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 10px;
    background: url('../img/template/icons/mail__icon.png') no-repeat;
}
.product_cart__block .product__size .size__info .size__detail .size__helper p{
    color: #c6c8ca;
    font-size: 12px;
    line-height: 14px;
    text-transform: none;
}
.product_cart__block .product__size .size__description{
    display: none;
    padding: 10px;
}
.product_cart__block .product__size .size__description p{
    display: block;
    font-size: 12px;
    line-height: 30px;
}
.product_cart__block .product__size .size__description p.__grey{
    color: #939597;
}
.product_cart__block .product__size .size__description p.__red{
    color: #d0011b;
}

.product_cart__block .product__buy{
    width: 100%;
}
.product_cart__block .product__buy .add__to{
    display: block;
    width: 100%;
    padding: 15px 10px;
    background: #000000;
    border: none;
    outline: none;
    cursor: pointer;
}
.product_cart__block .product__buy .add__to span{
    display: inline-block;
    vertical-align: top;
    color: #ffffff;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
}
.product_cart__block .product__buy .add__to:after{
    content: '';
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 20px;
    height: 20px;
    margin: 0 10px;
    bottom: 3px;
    background: url('../img/template/icons/cart_w__icon.png') no-repeat;
}


.product_cart__block .product__event{
    display: inline-block;
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid #f6f5f5;
}
.product_cart__block .product__event .event__block{
    width: 50%;
    float: left;
    text-align: center;
    box-sizing: border-box;
}
.product_cart__block .product__event .event__block:first-child{
    border-right: 1px solid #c6c8ca;
}
.product_cart__block .product__event .event__block p{
    display: inline-block;
    vertical-align: middle;
    color: #000000;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    cursor: pointer;
}
.product_cart__block .product__event .event__block p.favorite{
    width: 30px;
    height: 25px;
    margin: 0 10px;
    background: url('../img/template/icons/favorite__icon.png') no-repeat;
}
.product_cart__block .product__event .event__block p.favorite span{
    position: relative;
    top: 6px;
    font-size: 11px;
    line-height: 12px;
}

.footer_access__block{
    display: inline-block;
    width: 100%;
    padding: 40px;
}
.footer_access__block .access__enter{
    width: 640px;
    margin: auto;
    text-align: center;
}
.footer_access__block .access__enter p{
    color: #a2a2a2;
    font-size: 20px;
    line-height: 30px;
}
.footer_access__block .access__enter form{
    display: inline-block;
    background: #ffffff;
    margin: 25px 0;
}
.footer_access__block .access__enter button,
.footer_access__block .access__enter input{
    display: inline-block;
    vertical-align: top;
    outline: none;
    border: none;
}
.footer_access__block .access__enter input.input__enter{
    width: 380px;
    height: 45px;
    padding: 15px;
    font-size: 20px;
    line-height: 30px;
    color: #838382;
    background: #ffffff;
}
.footer_access__block .access__enter button.button__enter{
    position: relative;
    width: 75px;
    height: 45px;
    background: #ffffff;
    cursor: pointer;
}
.footer_access__block .access__enter button.button__enter:before{
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: 0;
    width: 1px;
    height: 35px;
    background: #e3e3e3;
}
.footer_access__block .access__enter button.button__enter:after{
    content: '';
    display: block;
    position: absolute;
    width: 30px;
    height: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    background: url('../img/template/icons/arrow_enter__icon.png') no-repeat;
}

.footer_menu__block{
    display: inline-block;
    width: 100%;
    padding: 30px 0;
}
.footer_menu__block .footer__menu{
    width: 650px;
    margin: auto;
    text-align: center;
}
.footer_menu__block .footer__menu a.menu__link{
    display: inline-block;
    vertical-align: middle;
    padding: 5px 35px;
    color: #a2a2a2;
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    border-right: 1px solid #e0e0e0;
}
.footer_menu__block .footer__menu a.menu__link.__top{
    vertical-align: text-bottom;
    font-weight: 400;
}
.footer_menu__block .footer__menu a.menu__link:last-child{
    border-right: none;
}

.footer_contact__block{
    display: inline-block;
    width: 100%;
    padding: 0 0 15px;
}
.footer_contact__block .contact__text{
    width: 270px;
    margin: auto;
    text-align: center;
}
.footer_contact__block .contact__text p{
    position: relative;
    color: #999193;
    font-size: 13px;
    line-height: 15px;
}
.footer_contact__block .contact__text p.__padding__small{
    margin-bottom: 5px;
}
.footer_contact__block .contact__text p.__padding__middle{
    margin-bottom: 15px;
}
.footer_contact__block .contact__text p.__padding__large{
    margin-bottom: 30px;
}
.footer_contact__block .contact__text p.__email:after{
    content: '';
    display: inline-block;
    position: relative;
    width: 20px;
    height: 12px;
    top: 1px;
    left: 5px;
    background: url('../img/template/icons/mail_footer__icon.png') no-repeat;
}
.footer_contact__block .contact__text span{
    display: block;
}


.footer_copyright__block{
    display: inline-block;
    width: 100%;
    padding: 10px;
    margin: 0 0 25px;
}
.footer_copyright__block .copyright__text{
    width: 640px;
    margin: auto;
    text-align: center;
}
.footer_copyright__block .copyright__text span{
    display: inline-block;
    color: #c0c0c0;
    font-size: 10px;
    line-height: 15px;
    padding: 1px;
    text-transform: uppercase;
}










@media (min-width: 0) and (max-width: 1295px) {
    .page.__product{
        min-width: 1295px;        
    }
}